/* Väljer hela sidan och noll-sätter den. Smooth scroll och font. */
*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* CSS för alla nav element. Sätter padding, displayen till flex, Lägger content över hela displayen(space-between) och sen alignar det "center" */
nav{
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

/* Logo CSS */
.header img{
    width: 200px;
}

/* Text align självförklarligt */
.nav-links{
    text-align: right;
}

/* list-style tar bort punktform, inline block sätter länkarna sidles */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 25px;
}

/* Sätter färg på länkarna i navbar och tar bort det blå standard länk grejen */
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
}

/* Hover effect med streck under länkarna i navbar */
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: blue;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}






/* CSS MEDLEMMAR */

/* CSS för hela sektionen inclusive centrera rubriken */
.members {
    padding: 30px;
    text-align: center;
    background-color: #f4f4f4;
}

/* Rubriken */
.members h2 {
    margin-bottom: 20px;
    padding: 40px;
    font-size: 2em;
    color: black;
}

/* CSS för alla bilder */
.members-container {
    display: grid;
    flex-direction: column;
    align-items: center;
}

/* CSS för självsåtende bilden */
.Jimmy {
    margin-bottom: 20px; /* Avstånd under den ensamma bilden */
    padding-bottom: 40px;
    font-weight: bold;
    color: black;
}

/* CSS för första bilden under rubriken */
.Jimmy img {
    width: 350px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* CSS för raden under jimmy bilden */
.members-row {
    display: flex;
    justify-content: center;
    margin-bottom: 140px; /* Avstånd mellan raderna */
}

/* Avstånd mellan bilderna */
.member {
    margin: 0 70px; 
}

/* CSS för varje bild */
.member img {
    width: 350px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* CSS för texten under de 6 bilderna */
.member p {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}








/* FOOTER */

/* CSS för diven med allt i footer basically */
.container{
    max-width: 1800px;
    margin: auto;
}

/* Lägger alla 3 rubriker sida mot sida */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Tar bort punktform */
ul{
    list-style: none;
}

/* Lägger padding from toppen av div fottern till faktista texten */
.footer{
    padding: 70px 0px;
    background-color: black;
}

/* Sprider ut de 3 rubrikers jämnt */
.footer-col{
    width: 25%;
    padding: 0 15px;
    color: whitesmoke;
}

/* Rubrikerna i footer, font size, färg, margin mellan rubrik och text under, text tjocklek och position relative förstår inte */
.footer-col h4{
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

/* content skapar en linje, vet inte, vet inte, färg, tjocklek, fattar inte, bredd */
.footer-col h4::before{
    content: "";
    position: absolute;
    bottom: -10px;
    background-color: blue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

/* Storlek mellan varje rad i fotter när dom ligger listade på varandra */
.footer-col ul li:not(:last-child){
    margin-bottom: 18px;
}

/* CSS för varje rad av text i "Bläddra". font size, färg, text-decoration tar bort undertext, tjocklek, färg och hover övergång hastighet  */
.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: grey;
    transition: all 0.3s ease;
}

/* Vad som händer när man hover över texten, flyttas lite åt höger och ändrar färg */
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

/* Staplar varje kontakt under varandra horizontellt. CSS för hela diven under rubriken */
.footer-col .kontakt {
    display: flex;
    flex-direction: column;
}

/* CSS för varje column i kontakt. */
.footer-col .kontakt-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* helt ärligt fattar ingenting. Men CSS för varje icon grej */
.footer-col .kontakt-item span:first-child {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: blue;
    text-align: center;
    line-height: 40px;
    border-radius: 70%;
    color: white;
    margin-right: 10px;
}

/* CSS för texten bredvid ikonerna */
.footer-col .kontakt-item .kontakt-text {
    font-size: 16px;
    color: white;
}

/* CSS för img under Förfesteriet i footer */
.footer-col .footer-image {
    max-width: 200px; /* Gör bilden max 100px bred */
    height: auto; /* Bibehåller bildens proportioner */
    margin-top: 10px; /* Skapa lite utrymme mellan rubrik och bild */
    margin-bottom: 25px; /* Utrymme under bilden */

}

/* CSS för text längst ner på sidan av footer */ 
.footer-bottom {
    text-align: center; /* Centrerar texten inom .footer-bottom */
    padding-top: 60px; /* Lägg till lite utrymme ovanför och nedanför texten */
    color: white; /* Textfärg (ändra vid behov) */
}

